* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
}
main {
    width: 100%;
}

.container-app {
    width: 100%;
}
@mixin textShadow {
    color: #fff;
    text-shadow: 1px 1px 1px $shadow;
    margin-bottom: 30px;
}

@mixin boxshadow {
    box-shadow: 2px 2px 2px $shadow;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    @include boxshadow();
} 

.alert-success {
    background-color: $success;
}

//colori
.blue {
    background-color: $base3!important;
}

.azzurro {
    background-color: $base2!important;
}