
.azienda {
    display: flex;
    justify-content: space-between;

    .nome-azienda {
        font-weight: bold;
    }

    img {
        width: 200px;
    }
    .dati {
        span {
            font-weight: bold;
        }
    }
}
.content-employees {


    .filter {
        margin-top: 30px;

        input:focus , select:focus {
            outline: none;
        }
    }

    .cont-table {
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
    }
}
