.nav-bar {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $base3;
    box-shadow: inset 0px -5px 3px rgba(0,0,0,0.3);

    nav {
        display: flex;
        align-items: center;
        .menu {
            display: flex;
            justify-content: center;
            list-style-type: none;
            align-content: center;
            color: $secondary-1;
            margin: 0 5px;

            
            li {
                display: flex;
                align-content: center;

                a {
                    font-weight: bold;
                    color: $secondary-1;
                    padding: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover {
                        box-shadow: 2px 2px 2px $shadow;
                        border-radius: 20px;
                    }
                }
            }
            
        }
    }
    .login {
        .login-link {

            display: flex;
            justify-content: center;
            a {
                font-weight: bold;
                color: $secondary-1;
                padding: 10px;
                margin: 0 5px;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                    box-shadow: 2px 2px 2px $shadow;
                    border-radius: 20px;
                }
            }
        }
    }
}